body {
  background-image: url(../images/stars.png);
  text-align: center;
  background-position: center;
}
h1 {
  opacity: 1;
  color: #02024b;
  text-align: center;
  font-family: 'Markazi Text', serif;
  font-size: 3em;
  margin-bottom: 1.5em;
}
p{
  opacity: 1;
  color: #02024b;
  text-align: center;
  font-family: 'Markazi Text', serif;
  font-size: 2em;
  margin-bottom: 1.5em;
}
div {
  background-color: white;
  opacity: 0.5;
  text-align: center;
  padding: 50px;
}
button {
background-color: #02024b;
 border-radius: 25px;
 color: white;
 padding: 6px 20px;
 text-align: center;
 display: inline-block;
 font-size: 1.2em;
 opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}
input[type="text"] {
  margin-top: 20px;
  background-color: #02024b;
  width: 15%;
  padding: 0.3em;
  color: white;
  font-family: 'Markazi Text', serif;
  font-size: 1.5em;
  border: 4.5px solid #868cb4;
  margin-bottom: 2px;
}
#submit {
  width: 16%;
  cursor: pointer;
}
