body {
  background-color: lightgrey;
}

h1 {
  font-family: sans-serif;
  font-size: 40px;
  color: red;
  text-align: center;
  border: 0.2em dotted black;
  padding: 0.5em;
}

span {
  color: black;
}

h3 {
  font-family: sans-serif;
  font-size: 15px;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

div {
  text-align: center;
}
