body {
  background-color: lightgrey;
}

h1 {
  font-family: sans-serif;
  font-size: 2.5em;
  color: red;
  text-align: center;
  border: 0.2em dotted black;
  padding: 0.5em;
}

span {
  color: black;
}

h3 {
  font-family: sans-serif;
  font-size: 0.9375em;
}

p {
  font-family: sans-serif;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 3.125em;
}

div {
  text-align: center;
}

@media(min-width: 660px) {
  body {
    margin-left: 3.125em;
    margin-right: 3.125em;
  }
}

@media(min-width: 940px) {
  body {
    margin-left: 12.5em;
    margin-right: 12.5em;
  }
}
